<ion-view view-title="Create an Account">
	<ion-content class="padding has-header">
		<form name="signupForm" ng-submit="createUser()" class="list card no-margin">
			<ion-input class="item item-input item-stacked-label" />
				<ion-label >Name</ion-label>
				<input type="text" name="fullName" placeholder="What's your name stranger?" ng-model="data.fullName" />
			</ion-input>

			<ion-input class="item item-input item-stacked-label" />
				<ion-label >Email</ion-label>
				<input type="email" name="email" placeholder="Your email..." ng-model="data.email" />
			</ion-input>

			<ion-input class="item item-input item-stacked-label" />
				<ion-label >Password</ion-label>
				<input type="password" name="password" placeholder="Your password" ng-model="data.password" >
			</ion-input>

			<ion-input class="item-input padding">
				<input type="submit" class="button button-positive" value="Sign up" />
			</ion-input>
		</form>

	</ion-content>
</ion-view>
